@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: "Merriweather", serif;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  display: flex;
}

p {
  color: rgba(142, 142, 142, 0.678);
  font-size: 0.8rem;
  padding: 8px 0 8px 0;
}

hr {
  margin-top: 10px;
  border: 0.5px solid rgba(142, 142, 142, 0.13);
}

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 90px;
  height: 100vh;
  padding: 0 1.17rem;
  overflow: hidden;
  color: #cecece;
  transition: all 0.5s linear;
}
.sidebar:hover {
  width: 240px;
  transition: 0.5s;
}

.logo {
  height: 100px;
  padding: 16px;
}

.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.menu li:hover,
.active {
  background-color: #3944f7;
}

.menu a {
  text-decoration: none;
  color: rgba(142, 142, 142, 0.678);
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.menu a:hover {
  color: white;
}

.menu a span {
  overflow: hidden;
}

.menu a i {
  font-size: 1.2rem;
}

.notification {
  position: absolute;
  bottom: 75px;
  left: 0;
  width: 100%;
}

.logout {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}

main {
  width: 100%;
  height: auto;
}

.main-div {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 15px;
}

/*******************
welcome-back start
*******************/

.welcome-back {
  background-color: rgba(240, 240, 240, 0.269);
  padding: 2.5rem;
}

.mike-img {
  width: 30%;
  height: 30%;
}

.mike-info {
  display: flex;
  align-items: center;
  gap: 30px;
}

.today {
  margin-top: 40px;
}

.want-button {
  margin-top: 10px;
  padding: 10px 20px;
  color: #fff;
  background-color: #3944f7;
  border-radius: 10px;
}

.want-button a {
  color: #fff;
  text-decoration: none;
}

.recent-transactions {
  margin-top: 50px;
}

/*****************
welcome-back end 
*****************/

/************************
Strategy section start 
************************/
.main-strategy {
  margin-top: 40px;
  padding: 2rem;
}

.strategy {
  background-color: rgba(240, 240, 240, 0.269);
  border-radius: 10px;
  padding: 2rem;
}

.update-button {
  width: 100%;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3944f7;
  border-radius: 10px;
}

.update-button a {
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

.link-style {
  font-size: 0.8rem;
}

.link-style a {
  color: #3944f7;
  text-decoration: none;
  font-weight: 700;
}

.housing-advance {
  margin-top: 20px;
  padding: 20px;
  border-left: 2px solid #3944f7;
}
/*********************** 
Strategy section end 
***********************/
