@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: "Merriweather", serif, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  display: flex;
}

p {
  color: rgba(142, 142, 142, 0.678);
  font-size: 0.8rem;
  padding: 8px 0 8px 0;
}

hr {
  margin-top: 10px;
  border: 0.5px solid rgba(142, 142, 142, 0.13);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 90px;
  height: 100vh;
  padding: 0 1.17rem;
  overflow: hidden;
  color: #cecece;
  transition: all 0.5s linear;
}

main {
  margin-left: 90px;
}
.sidebar:hover {
  background-color: #fff;
  width: 240px;
  transition: 0.5s;
}

.logo {
  height: 100px;
  padding: 16px;
}

.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
}

.menu li:hover a,
.menu li.active a {
  color: white;
}

.menu li:hover,
.menu li.active {
  background-color: #3944f7;
}

.menu a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.menu a:hover {
  color: white;
}

.menu a span {
  overflow: hidden;
}

.menu a i {
  font-size: 1.2rem;
}

.notification {
  position: absolute;
  bottom: 75px;
  left: 0;
  width: 100%;
}

.logout {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}

main {
  width: 100%;
  height: auto;
}

.main-div {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 15px;
}

/*******************
welcome-back start
*******************/

.welcome-back {
  background-color: rgba(240, 240, 240, 0.269);
  padding: 2.5rem;
}

.mike-img {
  border-radius: 50%;
  width: 30%;
  height: 30%;
}

.mike-info {
  display: flex;
  align-items: center;
  gap: 30px;
}

.today {
  margin-top: 40px;
}

.want-button {
  margin-top: 10px;
  padding: 10px 20px;
  color: #fff;
  background-color: #3944f7;
  border-radius: 10px;
}

.want-button a {
  color: #fff;
  text-decoration: none;
}

.recent-transactions {
  margin-top: 50px;
}

/*****************
welcome-back end 
*****************/

/************************
income section start 
************************/
.main-income {
  margin-top: 40px;
  padding: 2rem;
}

.goal-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
  margin-top: 25px;
}

.goal-div {
  padding-bottom: 5px;
  background-color: white;
  border-bottom: 2px solid #3944f7;
}

.goal-div h2 {
  font-weight: 700;
}

.overtime {
  margin-top: 30px;
}

.overtime h4 {
  font-weight: 900;
}

/* chart js start */
.chartBox {
  width: 500px;
  height: 200px;
  margin-top: 20px;
}
/* chart js end */

.compare-section {
  margin-top: 30px;
}

.compare-section h4 {
  font-weight: 900;
}

.main-compare-data {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  align-items: center;
}

.compare-data {
}

.compare-data h5 {
  margin-top: 5px;
}

/* circle progress bar */
.circle{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
div[role="progressbar"] {
  --size: 6rem;
  --fg: #50dbb4;
  --bg: #def;
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: radial-gradient(
      closest-side,
      white 80%,
      transparent 0 99.9%,
      white 0
    ),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: #000;
}
@keyframes growProgressBar {
  0%,
  33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}
div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
}

/************************
income section end 
************************/

/************************
Strategy section start 
************************/
.main-strategy {
  margin-top: 40px;
  padding: 2rem;
}

.strategy {
  background-color: rgba(240, 240, 240, 0.269);
  border-radius: 10px;
  padding: 2rem;
}

.update-button {
  width: 100%;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3944f7;
  border-radius: 10px;
}

.update-button a {
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

.link-style {
  font-size: 0.8rem;
}

.link-style a {
  color: #3944f7;
  text-decoration: none;
  font-weight: 700;
}

.housing-advance {
  margin-top: 20px;
  padding: 20px;
  border-left: 2px solid #3944f7;
}
/*********************** 
Strategy section end 
***********************/

/**********************
Responsive Start
**********************/
@media only screen and (max-width: 600px) {
  
  main {
    margin: 0;
  }

  .main-div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .main-compare-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
  }
}

/**********************
Responsive End
**********************/
